
.container .text {
    background-color: yellow;
    color: red;
    font-size: 20px;
    text-align: center;
}

/* Using type selector works as well:     
div p {
    background-color: yellow;
    color: red;
    font-size: 20px;
    text-align: center;
}*/